<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Asistenku AI | 2025 | Browser Agent Automation{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    {% block styles %}
      <!-- Add your custom styles here -->
    {% endblock %}
  </head>
  <body class="bg-gray-100 text-gray-900">
    <div class="max-w-4xl mx-auto p-6">
      {% include 'partials/header.html'   %}

      {% block content %}
        
      {% endblock %}
    </div>
    
    {% block scripts %}
      <!-- Add your custom scripts here -->
    {% endblock %}
  </body>
  </html>